.notification.popover.fade.in {
  top: 81px !important;
  display: block !important;
  z-index: 1072 !important;
  background: #222;
  max-width: 400px;
  border-radius: 0;
  border: 1px solid #fff;
  margin-right: 10px;
  font-family: "Arial";
}

.notification .badge {
  position: absolute;
  font-family: "Arial";
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  background: #202c3a;
  display: inline-block;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  top: -2px;
  right: 10px;
  line-height: 15px;
}

.dropdown-menu {
  top: 80px;
}
