.Gantt_TransitionPlan .planned {
    position: relative;
    width: 100%;
    border-top: 4px solid rgb(207, 209, 211);
    border-radius: 26px;    
}

.Gantt_TransitionPlan .actuals {
    border-top: 4px solid;
    border-color: #66d0ff;
    position: absolute;
    top: -4px;
    border-radius: 10px;
}

.Gantt_TransitionPlan .afterActual {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #66d0ff;
    right: -7px;
    top: -9px;
    background: #000;
    z-index: 99999;
}

.Gantt_TransitionPlan .k-task-template {
    padding: 0.4em 0em .4em 0em;
    line-height: normal;
}

.Gantt_TransitionPlan .k-task-single {
    overflow: visible;
    background-color: inherit;
}

.Gantt_TransitionPlan .k-task-wrap {
    padding: 3px 23px 5px;
}

.Gantt_TransitionPlan .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.Gantt_TransitionPlan .k-task-dot {
    display: none !important;
}

.Gantt_TransitionPlan .k-grid .k-grid-header .k-grid-header-wrap .k-header, .Gantt_TransitionPlan .k-grid .k-grid-header .k-grid-header-wrap a {
    background: #E3E3E1;
    color: #000 !important;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 17px;
    overflow: visible;
    white-space: normal;
    line-height: 0px;
    vertical-align: middle;
}

.k-gantt .k-grid tr::after{
    display:none;
} 

.Gantt_TransitionPlan .k-grid .k-grid-content tr td[role="gridcell"]:first-child::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    min-height: 10px;
}

.Gantt_TransitionPlan .k-grid .k-grid-content tr td[role="gridcell"] {
    color: white;
    border-color: #191930;
    background: #12112B;
    padding: 5px 5px;
    min-height: 23.7px;
    vertical-align: middle;
    font-size: 14.6px;
}

.Gantt_TransitionPlan .k-gantt-toolbar .k-state-default, .Gantt_TransitionPlan .k-grid .k-grouping-header, .Gantt_TransitionPlan .k-grid-header,  .Gantt_TransitionPlan .k-grid-header-wrap, .Gantt_TransitionPlan .k-grouping-header .k-group-indicator, .Gantt_TransitionPlan .k-header, .Gantt_TransitionPlan .k-pager-wrap, .Gantt_TransitionPlan .k-pager-wrap .k-link, .Gantt_TransitionPlan .k-pager-wrap .k-textbox {
    /* border-color: #c5c5c5; */
    background: #12112B;
}

.Gantt_TransitionPlan .k-gantt .k-treelist .k-grid-content {
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: #12112B;
}

.Gantt_TransitionPlan .k-grid td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: .4em .6em;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.Gantt_TransitionPlan .k-autocomplete, .Gantt_TransitionPlan .k-block, .Gantt_TransitionPlan .k-button-group .k-tool, .Gantt_TransitionPlan .k-calendar th, .Gantt_TransitionPlan .k-colorpicker .k-i-arrow-s, .Gantt_TransitionPlan .k-content,  .Gantt_TransitionPlan .k-dropdown-wrap, .Gantt_TransitionPlan  .k-dropzone-active, .Gantt_TransitionPlan  .k-editable-area, .Gantt_TransitionPlan  .k-filter-row > th, .Gantt_TransitionPlan .k-footer-template td, .Gantt_TransitionPlan .k-grid td, .Gantt_TransitionPlan .k-grid td.k-state-selected, .Gantt_TransitionPlan .k-grid-content-locked, .Gantt_TransitionPlan .k-grid-footer,.Gantt_TransitionPlan .k-grid-footer-locked,.Gantt_TransitionPlan .k-grid-footer-wrap, .Gantt_TransitionPlan .k-grid-header, .Gantt_TransitionPlan .k-grid-header-locked, .Gantt_TransitionPlan .k-grid-header-wrap, .Gantt_TransitionPlan .k-group, .Gantt_TransitionPlan .k-group-footer td, .Gantt_TransitionPlan .k-grouping-header, .Gantt_TransitionPlan .k-grouping-header .k-group-indicator, .Gantt_TransitionPlan .k-header, .Gantt_TransitionPlan .k-input, .Gantt_TransitionPlan .k-pager-refresh, .Gantt_TransitionPlan .k-pager-wrap, .Gantt_TransitionPlan .k-pager-wrap .k-link, .Gantt_TransitionPlan .k-panel > .k-item > .k-link, .Gantt_TransitionPlan .k-panelbar .k-content, .Gantt_TransitionPlan .k-panelbar .k-panel, .Gantt_TransitionPlan .k-panelbar > .k-item > .k-link, .Gantt_TransitionPlan .k-separator, .Gantt_TransitionPlan .k-slider-track, .Gantt_TransitionPlan .k-splitbar, .Gantt_TransitionPlan .k-state-default, .Gantt_TransitionPlan .k-state-default .k-select, .Gantt_TransitionPlan .k-state-disabled, .Gantt_TransitionPlan .k-textbox,  .Gantt_TransitionPlan .k-textbox > input, .Gantt_TransitionPlan .k-tiles, .Gantt_TransitionPlan .k-toolbar, .Gantt_TransitionPlan, .Gantt_TransitionPlan .k-treemap-tile, .Gantt_TransitionPlan .k-upload-files, .Gantt_TransitionPlan .k-widget {
        border-color: #191930;
    }

.Gantt_TransitionPlan .k-tooltip{
    border-color:white !Important;
}
.Gantt_TransitionPlan .k-block, .Gantt_TransitionPlan .k-widget {
    background-color: white !Important;
}

.Gantt_TransitionPlan .k-state-default.k-view-year.k-state-selected {
    background-color: #A91536;
}

.Gantt_TransitionPlan .k-state-default.k-view-month.k-state-selected {
    background-color: #A91536;
}

.Gantt_TransitionPlan .k-link:link, .Gantt_TransitionPlan .k-link:visited, .Gantt_TransitionPlan .k-nav-current.k-state-hover .k-link {
    color: #fff;
}

.Gantt_TransitionPlan .k-grid .k-grid-header {
    border: 0;
    background: #E3E3E1;
}

/*  Define the background color for all the ODD table columns  */
.Gantt_TransitionPlan .k-gantt-columns tr td:nth-child(odd) {
    background: #0F0F25;
}
/*  Define the background color for all the EVEN table columns  */
.Gantt_TransitionPlan .k-gantt-columns tr td:nth-child(even) {
    background: #12112B;
}

.Gantt_TransitionPlan .k-gantt .k-splitbar {
    position: relative;
    cursor: e-resize;
    width: 4px;
    border-width: 0 0px;
    background-repeat: repeat-y;
    background-color: #191930;
}

.Gantt_TransitionPlan .k-splitbar .k-resize-handle {
    background-color: #191930;
}
.Gantt_TransitionPlan .k-task-single {
    border-style: solid;
    border-width: 0px;
    text-align: left;
    overflow: visible;
    cursor: default;
    min-height: 1.3em;
    white-space: nowrap;
}

.Gantt_TransitionPlan .k-grid .k-grid-header .k-grid-header-wrap .k-header {
    position: relative;
    font-weight: 740;
    overflow:visible;
    white-space:nowrap;
}

.Gantt_TransitionPlan #gantt .k-gantt-layout.k-gantt-treelist .k-grid-content table tr:nth-child(2) td:nth-child(2) span {
    display: none;
}

. Gantt_TransitionPlan #gantt .k-gantt-tasks tr:nth-child(2) td:nth-child(1) div {
    display: none;
}


/*#ganttProjPlan .k-gantt-layout.k-gantt-treelist .k-grid-content table tr:nth-child(2) td:nth-child(2) span {
    display: block;
}

#ganttProjPlan .k-gantt-tasks tr:nth-child(2) td:nth-child(1) div {
    display: block;
}*/

.Gantt_TransitionPlan .k-task-summary {
    height: 4px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

   .Gantt_TransitionPlan .k-task-summary-complete:before, .Gantt_TransitionPlan .k-task-summary:before {
        display: none;
    }

  .Gantt_TransitionPlan  .k-task-summary-complete:after, .Gantt_TransitionPlan .k-task-summary:after {
        display: none;
    }

.Gantt_TransitionPlan .k-task-summary-progress {
    height: 4px;
    overflow: hidden;
}

.Gantt_TransitionPlan .k-grid .k-grid-content tr:hover {
    background: none;
}

.Gantt_TransitionPlan .k-i-expand:before {
    content: "\e120";
}

.Gantt_TransitionPlan .k-i-collapse:before {
    content: "\e123";
}

.Gantt_TransitionPlan .k-icon.k-i-expand, .Gantt_TransitionPlan .k-icon.k-i-collapse{
    margin-right:5px;
    font-size:14px;
    cursor : pointer;
}

.Gantt_TransitionPlan .gantt-content .k-grid {
background: transparent !important; 
}

.Gantt_TransitionPlan .exportTable{
    width:1080px;

    margin-right:10px;
}

.Gantt_TransitionPlan .exportTable .rag-indicator li {
    float: left;
    padding: 0 15px;
    color: white;
}

.Gantt_TransitionPlan .exportTable .rag-indicator li .rag-status {
    width: 20px;
    float: left;
    margin: 12px 10px 5px 0;
}

.Gantt_TransitionPlan .exportTable .table {
    border: 5px !important;
    border-color: white !important;
}

.Gantt_TransitionPlan .exportTable .transItTable thead tr th, .Gantt_TransitionPlan .exportTable .transItTable thead tr td {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border: 0;
    text-align: center;
    vertical-align: middle;
    /* border-right: 1px solid #c5c5c5; */
    border: 1px solid #c5c5c5;
}

.Gantt_TransitionPlan .exportTable th {
    border-top :1px solid #c5c5c5 !important;
}

.Gantt_TransitionPlan .k-timeline.k-grid.k-widget thead tr:nth-child(1)
{
    display:none;
}

.Gantt_TransitionPlan .k-gantt-treelist .k-grid-header tr {
    height: 2.5em;
}

.Gantt_TransitionPlan .k-task.ganttredbg
{
  background: #9F2121;
}
.Gantt_TransitionPlan .k-task.ganttgreenbg
{
    background: #243B0B;
}
.Gantt_TransitionPlan .k-task.ganttamberbg
{
    background: #A06201;
}
.Gantt_TransitionPlan .k-task.ganttbluebg
{
    background: #A9E2F3;
}

.Gantt_TransitionPlan .k-task.ganttgreybg
{
    background: #DDD9D9;
}

.Gantt_TransitionPlan .ganttredborder
{
    border-color: #E62C10;
}
.Gantt_TransitionPlan .ganttgreenborder
{
    border-color: #6FA502;
}
.Gantt_TransitionPlan .ganttamberborder
{
    border-color: #FFCC00;
}
.Gantt_TransitionPlan .ganttblueborder
{
    border-color: #0494E0;
}

.Gantt_TransitionPlan .ganttgreyborder
{
    border-color: #A8A8A8;
}

.Gantt_TransitionPlan .k-task .ganttredbgcomplete
{
     background: #E62C10;
}
.Gantt_TransitionPlan .k-task .ganttgreenbgcomplete
{
     background: #6FA502;
}
.Gantt_TransitionPlan .k-task .ganttamberbgcomplete
{
     background: #FFCC00;
}
.Gantt_TransitionPlan .k-task .ganttbluebgcomplete
{
     background: #0494E0;
}

.Gantt_TransitionPlan .k-task .ganttgreybgcomplete
{
     background: #A8A8A8;
}

.Gantt_TransitionPlan .gantt-content .k-grid .k-grid-header .k-grid-header-wrap .k-header{
  white-space: nowrap;
}
.Gantt_TransitionPlan .gantt-content .k-gantt .k-gantt-timeline .k-grid-header .k-grid-header-wrap, .gantt-content .k-gantt .k-gantt-treelist .k-grid-header .k-grid-header-wrap{
  padding-bottom: 4px;
}
.gantt-content .k-gantt .k-gantt-timeline .k-grid-header tr th::after{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  background: url('../img/gridstrip.png') no-repeat center;
  height: 8px;
  width: 100%;
}

.Gantt_TransitionPlan .titleExport {
    font-family: 'Graphik Bold';
    font-size: 18px;
    text-transform: uppercase;    
    margin-bottom: 0;
    padding: 10px 0;
    line-height: 24px;
    margin-left: 15px;
}

.Gantt_TransitionPlan .k-gantt .k-treelist .k-alt.k-state-selected,  .Gantt_TransitionPlan .k-gantt .k-treelist .k-alt.k-state-selected>td, .Gantt_TransitionPlan .k-gantt .k-treelist .k-state-selected, .Gantt_TransitionPlan .k-gantt .k-treelist .k-state-selected td {
    background-color: transparent !important;
    background-image: none !important;
    /* background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.2)),to(rgba(255,255,255,0))); */
    /* background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%); */
    /* background-image: none,linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 100%); */
}

@media print {
   .Gantt_TransitionPlan .k-state-default.k-view-year.k-state-selected {
        color: #fff ;
        background-color: #A91536 !important;
        -webkit-print-color-adjust: exact;
    }

    .Gantt_TransitionPlan .k-state-default.k-view-month.k-state-selected {
        background-color: #A91536 !important;
        -webkit-print-color-adjust: exact;
    }
    .Gantt_TransitionPlan .k-grid .k-grid-header .k-grid-header-wrap .k-header, .Gantt_TransitionPlan .k-grid .k-grid-header .k-grid-header-wrap a {
    background: #E3E3E1 !important;
    color: #000 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    padding: 15px 1px !important;
    overflow: visible !important;
    white-space: normal !important;
    line-height: 0px !important;
    vertical-align: middle !important;
    -webkit-print-color-adjust: exact;
}
    .Gantt_TransitionPlan .k-grid .k-grid-content tr td[role="gridcell"] {
    color: #fff !important;
    border-color: #191930 !important;
    background: #12112B !important;
    padding: 5px 10px !important;
    min-height: 23.7px !important;
    vertical-align: middle !important;
    font-size: 14px !important;
    -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .k-gantt-toolbar .k-state-default, .Gantt_TransitionPlan .k-grid .k-grouping-header, .Gantt_TransitionPlan .k-grid-header, .Gantt_TransitionPlan .k-grid-header-wrap, .Gantt_TransitionPlan .k-grouping-header .k-group-indicator, .Gantt_TransitionPlan .k-header,  .Gantt_TransitionPlan .k-pager-wrap, .Gantt_TransitionPlan .k-pager-wrap .k-link, .Gantt_TransitionPlan .k-pager-wrap .k-textbox {
    /* border-color: #c5c5c5; */
    background: #12112B !important;
    -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .k-gantt .k-treelist .k-grid-content {
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    background-color: #12112B !important;
    -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .k-link:link, .Gantt_TransitionPlan .Gantt_TransitionPlan .k-link:visited, .Gantt_TransitionPlan .Gantt_TransitionPlan .k-nav-current.k-state-hover .k-link {
    color: #fff !important;    
}

.Gantt_TransitionPlan .k-grid .k-grid-header {
    border: 0 !important;
    background: #E3E3E1 !important;
    -webkit-print-color-adjust: exact;
}

/*  Define the background color for all the ODD table columns  */
.Gantt_TransitionPlan .k-gantt-columns tr td:nth-child(odd) {
    background: #0F0F25 !important;
    -webkit-print-color-adjust: exact;
}
/*  Define the background color for all the EVEN table columns  */
.Gantt_TransitionPlan .k-gantt-columns tr td:nth-child(even) {
    background: #12112B !important;
    -webkit-print-color-adjust: exact;
}




.Gantt_TransitionPlan .planned {
    position: relative;
    width: 100%;
    border-top: 4px solid rgb(207, 209, 211);
    border-radius: 26px;
}

.Gantt_TransitionPlan .actuals {
    border-top: 4px solid;
    border-color: #66d0ff !important ;
    position: absolute;
    top: -4px;
    border-radius: 10px;
}

.Gantt_TransitionPlan .afterActual {
    content: '' !important;
    position: absolute !important;
    width: 7px !important;
    height: 7px !important;
    border-radius: 10px !important;
    border: 3px solid !important;
    border-color: #66d0ff !important;
    right: -11px !important;
    top: -9px !important;
    background: #000 !important;
    z-index: 99999 !important;
    -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan a[href]:after {
 content: none !important;
}

.Gantt_TransitionPlan .gantt-content .k-gantt{
    overflow: hidden !important;
}

.Gantt_TransitionPlan .gantt-content .k-grid{
background: transparent !important; 
 -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .k-grid .k-grid-content tr td span{
    color : #fff !important

    }

.Gantt_TransitionPlan.ganttredbg
{
background: #9F2121 !important;
-webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttgreenbg
{
    background: #243B0B !important; 
 -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttamberbg
{
    background: #A06201 !important; 
 -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttbluebg
{
    background: #A9E2F3 !important; 
 -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .ganttgreybg
{
    background: #DDD9D9 !important; 
 -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .ganttredborder
{
    border-color: #E62C10 !important; 
 -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttgreenborder
{
    border-color: #6FA502 !important;   
    -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttamberborder
{
    border-color: #FFCC00 !important; 
 -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttblueborder
{
    border-color: #0494E0 !important; 
 -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .ganttgreyborder
{
    border-color: #A8A8A8 !important; 
 -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .ganttredbgcomplete
{
     background: #E62C10 !important; 
 -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttgreenbgcomplete
{
     background: #6FA502 !important; 
 -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttamberbgcomplete
{
     background: #FFCC00 !important; 
 -webkit-print-color-adjust: exact;
}
.Gantt_TransitionPlan .ganttbluebgcomplete
{
     background: #0494E0 !important; 
 -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .ganttgreybgcomplete
{
     background: #A8A8A8 !important; 
 -webkit-print-color-adjust: exact;
}

.Gantt_TransitionPlan .dashboard-container .gantt-content {
    background: #12112B !important;
    border-radius: 3px !important;
    padding: 25px 20px !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

}

.Gantt_TransitionPlan .container.expand {
    width:100% !important;
    margin:auto !important;
}

.container.expand {
    width:100% !important;
    margin:auto !important;
} 

